<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV1IQbJP1K6VC2_w3NKNgB6FHGOo5sa28</string>
	<key>GCM_SENDER_ID</key>
	<string>1049556476892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.verloop.verloopFlutterSdkExample</string>
	<key>PROJECT_ID</key>
	<string>my-verloop-test</string>
	<key>STORAGE_BUCKET</key>
	<string>my-verloop-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049556476892:ios:35c079ea09c2762c3fe519</string>
</dict>
</plist>